@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    /* background-color:blue; */
    margin: 0 auto;
}

header{
    background-color: #F9003D;
    height: 60px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

.container_header{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100%;
}
.header_nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:cadetblue; */
    width: 600px;
    height: 100%;
    font-size: 18px;
}

.header_nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

main{
    margin-top: 60px;
}

.container_banner{
    position: relative;
    height: 740px;
}

.banner_inicial{
    width: 100%;
    height: 740px;
}
.conteudo_banner{
    position: absolute;
    top: 226px;
    left: 75px;
    display: flex;
    flex-direction: column;
}
h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 96px;
    font-family: 'Bebas Neue', cursive;
    width: 545px;
    font-weight: 400;
}

hr{
    border-color: #FFAF00;
    width: 545px;
}

.conteudo_banner span{
    color: #F9003D; 
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 53px;
}

.conteudo_banner img{
    width: 37px;
}

.container_projetos {
    background-color: #080324;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container_participantes{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.container_projetos h2{
    color: #F9003D;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 64px;
}

.container_projetos span{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
}

.box_participantes h3{
    color: #FFAF00;
    text-transform: uppercase;
    width: 557px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 64px;
    margin: 10px 0;
}

.box_participantes p{
    font-family: 'Open Sans', sans-serif;
    width: 557px;
    font-size: 18px;
}
 
.box_projetos{
    display: flex;
    justify-content: space-between;
}

.info {
    background-image: url(../assets_/assets_/imagem-fundo-info.png);
}

.info h2{
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.span_box{
    width: 289px;
    height: 100px;
    border:1px solid #A259F7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span{
    color: #A259F7;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.container_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 193px;
}

.endereco{
    background-image: url(../assets_/assets_/imagem-fundo-endereco.png);
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.endereco h2{
    color: #FFAF00;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    font-weight: 400;
    width: 899px;
    margin-top: 10px;
}

.endereco_box{
    display:flex;
    background-color: #010010;
    width: 899px;
    height: 204px;
    align-items: center;
    border: 2px solid #340B65;
}

.endereco p{
    /* background-color: #F9003D; */
    font-family: 'Courier New', Courier, monospace;
    color: #A259F7;
    width: 435px;
    height: 88px;
    font-size: 24px;
    margin-left: 66px;
}

.mapa_senai{
    position: absolute;
    top: 135px;
    right: 245px;
}

footer{
    background-color: #F9003D;
    width: 1440px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span{
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}